---
import ContentCard from "./ContentCard.astro";

const { id, media } = Astro.props;
const url = `${Astro.url.origin}/api/v1/tmdb/recommendations.json?id=${id}&media=${media}`;

let dataArray: any[] = [];
let isError = false;
let retries = 5;

const fetchRecommendations = async () => {
  try {
    const response = await fetch(url);
    if (!response.ok) {
      throw new Error(
        `Failed with status code ${response.status}: ${response.statusText}`
      );
    }
    const parsedRes = await response.json();
    dataArray = parsedRes?.results;
  } catch (err) {
    if (retries > 0) {
      retries--;
      console.log(`Retrying fetch.. Total retires left - ${retries}`);
      await fetchRecommendations();
    } else {
      console.log(err);
      isError = true;
    }
  }
};
await fetchRecommendations();
---

{
  !isError && dataArray.length > 0 && (
    <div class="movie-rec">
      <div class="container mx-auto px-4 py-16">
        <h2 class="text-2xl md:text-4xl font-medium md:font-semibold">
          Recommendations
        </h2>
        <div class="flex flex-row mx-4 overflow-x-auto scrollbar-hide">
          {dataArray?.map((item: any) => {
            if (item?.poster_path != null) {
              return (
                <div class="w-[150px] flex-shrink-0">
                  <ContentCard
                    content={item}
                    media_type={item?.media_type}
                    recommend={true}
                  />
                </div>
              );
            }
          })}
        </div>
      </div>
    </div>
  )
}
