---
import ContentCard from "../../../components/ContentCard.astro";
import InternalError from "../../../components/InternalError.astro";
import Pagination from "../../../components/Pagination.astro";

const pageValue = Astro.url.searchParams.get("page") || 1;

const { media_type } = Astro.props;

let isError = false;
let total_pages = 1;
let contentArray: any[] = [];
let retries = 5;
const fetchContentFromDB = async () => {
  try {
    const response = await fetch(
      `${Astro.url.origin}/api/v1/${media_type}/getdbdata?page=${pageValue}`,
      {
        method: "GET",
      }
    );
    if (!response.ok) throw new Error(`DB Fetch failed ${response.status}`);
    const parsedRes = await response.json();
    total_pages = parsedRes?.totalPages;
    contentArray =
      media_type == "movie"
        ? parsedRes?.movies
        : media_type == "tv"
          ? parsedRes?.shows
          : [];
  } catch (error) {
    if (retries > 0) {
      retries--;
      console.log(`Retrying fetch.. Total retires left - ${retries}`);
      await fetchContentFromDB();
    } else {
      isError = true;
      console.error(error);
    }
  }
};
await fetchContentFromDB();
---

{isError && <InternalError />}
{
  !isError && (
    <div class="container mx-auto px-4 pt-16 mb-16">
      <div class="popular-movies">
        <h2 class="uppercase tracking-wider text-red-500 text-lg font-semibold">
          Recent{" "}
          {media_type == "movie"
            ? "movies"
            : media_type == "tv"
              ? "shows"
              : "media"}
        </h2>
        {contentArray.length > 0 ? (
          <>
            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
              {contentArray?.map((item: any) => (
                <ContentCard content={item} media_type={media_type} />
              ))}
            </div>
            {total_pages > 1 && (
              <Pagination currentPage={pageValue} totalPages={total_pages} />
            )}
          </>
        ) : (
          <InternalError />
        )}
      </div>
    </div>
  )
}
